# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
thesis_env/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Data
data/
*.csv
*.dat

# Logs and Framework Outputs
wandb/
outputs/
images/
multirun/
*.log
tea_debug.log

# Environment Variables / Secrets
.env
.netrc
